body {
    margin: 0;
}

.cv-document {
	box-sizing: border-box;
	border: none;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	text-decoration: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: arial, sans-serif, tahoma;
	font-size: 10pt;
    overflow-y: auto;
    height: auto;
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    width: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background-color: #fff;
    position: relative;
    padding: 40px;
    overflow-y: inherit;
    height: inherit;
}
.section{
    width: 100%;
    float:left;
}
.section-title{
    text-transform:uppercase;
    border-bottom: 1.5px solid black;
    width: 100%;
    float: left;
    padding: 20px 0px 5px;
}
.section-content{
    float: left;
    width: 100%;
    padding:0px;
    font-size: 16px;
    line-height: 25px;
}
/*Nội dung*/
.row{
    width: 100%;
    float: left;
    border-bottom: 1px solid rgb(174, 174, 174);
    padding: 15px 0px;
}
.col-1{
    width: 30%;
    float: left;
}
.col-2{
    width: 70%;
    float: left;
}
/*Danh sách*/
ul{
    width: 100%;
    float: left;
    list-style-type: circle black;
}
/*giới thiệu*/
.col1{
    width:15%;
    float: left;
    font-weight:bold;
}
.col2{
    width: 20%;
    float: left;
}
.row1{
    width: 80%;
    float: left;
    padding: 5px 0px;
}
img{
    width: 100px;
    float: right top;
}
/*gạch chân của liên hệ*/
.ts{
    border-bottom: 1px solid rgb(195, 195, 195);
    padding: 0px 15px 20px;
}
/*màu liên kết*/
.color{
    color: blue;
}